<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Zac Burrage</title>
</head>

<body>
  <a href="/blog" class="main-title">
    Ziggy B's Blog
  </a>

  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  <br>
  </div>
  <div>
  	<a class="add-new"  href ='/blog/newpost'>Add New Post</a>
  </div>
</body>

</html>

